.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: background 1s ease-in-out;
}

.loading-container.white {
  background-color: #F5EFE7;
}

.loading-container.orange {
  background: linear-gradient(0deg, #EF3F24 0%, #FF7661 100%);
}


.logo-text {
  font-size: 3rem;
  font-weight: bold;
  transform: scaleX(-1);
  transition: all 0.6s ease;
}

/* Text style for white bg */
.loading-container.white .logo-text {
  color: black;
}

/* Text style for orange bg */
.loading-container.orange .logo-text {
  color: white;
}

.logo-text.flip {
  transform: scaleX(1) rotateY(360deg);
}
